body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-montserrat: Montserrat;
  --font-raleway: Raleway;

  /* font sizes */
  --font-size-3xs: 10px;
  --font-size-lg: 18px;
  --font-size-base: 16px;
  --font-size-xl: 20px;
  --font-size-13xl: 32px;
  --font-size-7xl: 26px;
  --font-size-lgi: 19px;
  --font-size-31xl: 50px;
  --font-size-21xl: 40px;
  --font-size-11xl: 30px;
  --font-size-5xl: 24px;
  --font-size-9xl: 28px;
  --font-size-3xl: 22px;
  --font-size-2xl: 21px;
  --font-size-15xl: 34px;
  --font-size-61xl: 80px;
  --font-size-xs: 12px;
  --font-size-16xl: 35px;
  --font-size-381xl: 400px;
  --font-size-81xl: 100px;
  --font-size-141xl: 160px;

  /* Colors */
  --color-gray-100: #909090;
  --color-gray-200: #282444;
  --color-gray-300: #272727;
  --color-gray-400: #1f1f1f;
  --color-gray-500: #161616;
  --color-gray-600: rgba(130, 130, 130, 0.5);
  --color-white: #fff;
  --color-darkgray-100: #a6a6a6;
  --color-darkgray-200: rgba(166, 166, 166, 0.19);
  --color-darkgray-300: rgba(166, 166, 166, 0.4);
  --color-darkgray-400: rgba(166, 166, 166, 0.3);
  --color-orange: #f5af02;
  --color-goldenrod-100: #ffcf58;
  --color-goldenrod-200: #de9f03;
  --color-mediumpurple-100: #b07af5;
  --color-mediumpurple-200: #9761db;
  --color-black: #000;
  --color-whitesmoke: #f1f1f1;
  --color-silver-100: #c9c9c9;
  --color-silver-200: rgba(188, 188, 188, 0.5);
  --color-darkkhaki-100: #d7b257;
  --color-darkslateblue-100: #7a5ba0;
  --color-darkslateblue-200: #362961;
  --color-darkgoldenrod-100: #b8902f;
  --color-darkgoldenrod-200: #c27d00;
  --color-dimgray-100: #6f6f6f;
  --color-dimgray-200: #595959;
  --color-slateblue: #6e3eab;
  --color-tomato: #fe655b;
  --color-olivedrab-100: #8ab033;
  --color-olivedrab-200: #6f9619;
  --color-lightgray: #d7d7d7;
  --color-gainsboro-100: #e8e8e8;
  --color-gainsboro-200: #e2e2e2;
  --color-steelblue-100: #0f6696;
  --color-yellowgreen: #86b817;

  /* Gaps */
  --gap-6xl: 25px;
  --gap-25xl: 44px;
  --gap-3xl: 22px;
  --gap-xl: 20px;
  --gap-121xl-3: 140.3px;
  --gap-51xl: 70px;
  --gap-16xl: 35px;
  --gap-28xl: 47px;
  --gap-4xl: 23px;
  --gap-96xl: 115px;
  --gap-46xl-4: 65.4px;
  --gap-14xl: 33px;
  --gap-base: 16px;
  --gap-21xl: 40px;
  --gap-2xs: 11px;
  --gap-mid: 17px;
  --gap-94xl: 113px;
  --gap-37xl: 56px;
  --gap-8xl: 27px;
  --gap-5xl: 24px;
  --gap-33xl: 52px;
  --gap-7xl: 26px;
  --gap-22xl: 41px;
  --gap-20xl: 39px;
  --gap-12xl: 31px;
  --gap-6xs: 7px;
  --gap-11xl: 30px;
  --gap-xs: 12px;
  --gap-27xl: 46px;
  --gap-133xl: 152px;
  --gap-19xl: 38px;
  --gap-57xl: 76px;
  --gap-mini: 15px;
  --gap-28xl-2: 47.2px;
  --gap-3xs: 10px;
  --gap-15xl: 34px;
  --gap-lgi: 19px;
  --gap-lg: 18px;
  --gap-17xl: 36px;
  --gap-10xl: 29px;
  --gap-26xl-3: 45.3px;
  --gap-48xl: 67px;
  --gap-141xl: 160px;
  --gap-61xl: 80px;
  --gap-33xl-4: 52.4px;
  --gap-9xl: 28px;
  --gap-24xl: 43px;
  --gap-2xl: 21px;
  --gap-31xl: 50px;
  --gap-39xl: 58px;
  --gap-smi: 13px;
  --gap-34xl: 53px;
  --gap-5xs-8: 7.8px;

  /* Paddings */
  --padding-57xl-6: 76.6px;
  --padding-119xl: 138px;
  --padding-15xl: 34px;
  --padding-50xl: 69px;
  --padding-xl: 20px;
  --padding-5xs: 8px;
  --padding-5xl: 24px;
  --padding-49xl: 68px;
  --padding-12xs: 1px;
  --padding-11xs: 2px;
  --padding-10xs: 3px;
  --padding-52xl: 71px;
  --padding-27xl: 46px;
  --padding-43xl: 62px;
  --padding-365xl: 384px;
  --padding-16xl: 35px;
  --padding-74xl: 93px;
  --padding-33xl: 52px;
  --padding-35xl: 54px;
  --padding-26xl: 45px;
  --padding-10xl: 29px;
  --padding-xs: 12px;
  --padding-lgi: 19px;
  --padding-smi: 13px;
  --padding-3xl: 22px;
  --padding-65xl: 84px;
  --padding-24xl: 43px;
  --padding-9xl: 28px;
  --padding-25xl: 44px;
  --padding-29xl: 48px;
  --padding-32xl: 51px;
  --padding-11xl: 30px;
  --padding-6xl: 25px;
  --padding-lg: 18px;
  --padding-8xs: 5px;
  --padding-19xl: 38px;
  --padding-34xl: 53px;
  --padding-63xl: 82px;
  --padding-115xl: 134px;
  --padding-14xl: 33px;
  --padding-48xl: 67px;
  --padding-7xs: 6px;
  --padding-66xl: 85px;
  --padding-36xl: 55px;
  --padding-12xl: 31px;
  --padding-4xs-4: 8.4px;
  --padding-110xl: 129px;
  --padding-8xs-4: 4.4px;
  --padding-6xs: 7px;
  --padding-3xs: 10px;
  --padding-2xs: 11px;
  --padding-4xs: 9px;
  --padding-4xl: 23px;
  --padding-lg-4: 18.4px;
  --padding-9xs: 4px;
  --padding-103xl: 122px;
  --padding-60xl: 79px;
  --padding-5xl-8: 24.8px;
  --padding-880xl: 899px;
  --padding-361xl: 380px;
  --padding-565xl: 584px;
  --padding-62xl: 81px;
  --padding-94xl: 113px;
  --padding-20xl: 39px;
  --padding-sm: 14px;
  --padding-mid: 17px;
  --padding-21xl: 40px;
  --padding-70xl: 89px;
  --padding-114xl: 133px;
  --padding-18xl: 37px;
  --padding-31xl: 50px;
  --padding-224xl-7: 243.7px;
  --padding-49xl-1: 68.1px;
  --padding-59xl: 78px;
  --padding-61xl: 80px;
  --padding-58xl: 77px;
  --padding-7xl: 26px;
  --padding-8xl: 27px;
  --padding-293xl: 312px;
  --padding-42xl: 61px;
  --padding-13xl: 32px;
  --padding-112xl: 131px;
  --padding-mini: 15px;
  --padding-base-8: 15.8px;
  --padding-base: 16px;
  --padding-2xl: 21px;
  --padding-117xl: 136px;
  --padding-108xl: 127px;
  --padding-38xl: 57px;
  --padding-69xl: 88px;
  --padding-47xl-8: 66.8px;
  --padding-109xl: 128px;
  --padding-211xl: 230px;
  --padding-197xl: 216px;
  --padding-10xl-3: 29.3px;
  --padding-217xl-4: 236.4px;
  --padding-53xl-2: 72.2px;
  --padding-19xl-2: 38.2px;

  /* Border radiuses */
  --br-81xl: 100px;
  --br-41xl: 60px;
  --br-11xl: 30px;
  --br-21xl: 40px;
  --br-xl: 20px;
  --br-31xl: 50px;
  --br-6xl: 25px;
  --br-49xl: 68px;
  --br-3xl: 22px;
}
